@use "variables";

@mixin icon {
    margin: 0.05em 0.4em 0.2em 0.4em;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Josefin Sans";
    font-size: 1.3em;
    z-index: 1000;
    width: 100%;
    padding: 0.6em 0.6em 0.4em 0.6em;
    max-width: variables.$md;
    position: fixed;
    top: 0;
}

.appLabel {
    display: flex;
    align-items: center;
}

.darkModeContainer {
    display: flex;
    align-items: center;
    :hover {
        opacity: 0.6;
    }
}

.icon {
    @include icon;
}

.iconButton {
    @include icon;
    cursor: pointer;
    :hover {
        opacity: 1;
    }
}

.separator {
    color: variables.$very-light-grey;
    background-color: variables.$very-light-grey;
    width: 100vw;
    z-index: 1000;
    position: fixed;
    top: 0;
    margin: 0;
    border: none;
    height: 3px;
}
