$font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
$dark-blue: #2b2d42;
$grey: #8d99ae;
$very-light-grey: #edf2f4;
$red: #ef233c;
$blood-red: #d90429;

$sm: 30em;
$md: 48em;
$lg: 62em;
$xl: 80em;
$xxl: 96em;
